aiokafka==0.10.0
annotated-types==0.7.0
async-timeout==4.0.3
blinker==1.8.2
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cssselect==1.2.0
cssutils==2.11.1
dnspython==2.6.1
Flask==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
more-itertools==10.3.0
motor==3.4.0
packaging==24.1
premailer==3.10.0
pydantic==2.7.4
pydantic_core==2.18.4
pymongo==4.7.3
python-dotenv==1.0.1
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
